useDynLib(sugsvarsel)
import(Rcpp)
importFrom("stats", "dgamma", "rnorm", "var")

export(sugs)
export(runSugs)
export(sugsvarsel)
export(pSelect)
export(samplemixNoise)
export(sampleMix)
export(samplemixDiag)
export(occamsWindow)
export(bma)
